<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
 <div class='container'>
   <div class='col-sm-6'>
   <div class='panel panel-default'>
    <div class='panel-heading'> Login </div>
    <div class='panel-body'>
	<form method='post'>
	{% csrf_token %}
	 {{form.as_p}}
	 <input type='submit' value='login'/>
	 </form>
	 </div>
	 </div>
	 </div>
</body>
</html>